
{% extends 'accounts/base.html'%}
{% load static %}
{% block content %}






<!-- Cart -->


<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shoping Cart
        </span>
    </div>
</div>
    




<!-- Cart Start -->
    
<div class="container-fluid pt-5">
    {% if not cart_items %}
            <h2 class="text-center">Your Shopping Cart is Empty</h2>
            <br>
            <div class="text-center">
                <a href="{% url 'store' %}"class= "btn btn-primary">Continue Shopping</a>
            </div>
        {% else %}
    <div class="row px-xl-5">
        
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                       
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                   
                    {% for cart_item in cart_items %}
                    <tr>
                    
                        <td class="align-middle text-dark ">
                            <div class="how-itemcart1">
                                <img src="{{ cart_item.product.image.url }}" alt="IMG">
                            </div>
                            <div class="how-itemcart1">
                            <a href="{{ cart_item.product.get_url }}">{{ cart_item.product.product_name }}</a><p class="text-muted-small">
                            {% if cart_item.variations.all %}
                                {% for item in cart_item.variations.all %}
                                {{ item.variation_category | capfirst}}:{{ item.variation_value | capfirst }}
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div></td>




                        <td class="align-middle text-dark"> ₹ {{ cart_item.product.price }}</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" class="btn btn-sm btn-primary btn-minus" >
                                    <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                                <input type="text" class="form-control form-control-sm bg-secondary text-center" value="{{ cart_item.quantity }}">
                                 
                                <div class="input-group-btn">
                                    <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                                        {% csrf_token %}
                                        {% for item in cart_item.variations.all %}
                                            <input type="hidden" name="{{ item.variation_category | lower }}" value="{{ item.variation_value | capfirst }}">
                                        {% endfor %}
                                            <button class="btn btn-sm btn-primary btn-plus" type="submit">
                                            <i class="fa fa-plus"></i>
                                        
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle text-dark">₹ {{ cart_item.sub_total }}</td>
                        <td class="align-middle"><a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" onclick="return confirm('Are you sure you want to delete this item?')" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="col-lg-4">
            <form class="mb-5" action="{% url 'add_coupon' %}" method="POST" >
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control p-4" placeholder="Coupon Code" name="codew">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Apply Coupon</button>
                    </div>
                </div>
            </form>


            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Available offer</h4>
                </div>
                <div class="card-body">
                    <div>
                         {% for x in couponlist %}
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium"> 
                                    <i class="fa fa-gift"></i>
                                    {{ x }} for ₹ {{ x.amount}}</h6>
                            </div>
                        {% endfor %} 
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium"> 
                                
                                {{offernote}}</h6>
                        </div>
                        
                        {% comment %} {% if "grand_total">=2000 %}
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium"> 
                                <i class="fa fa-gift"></i>
                                COUPON01 for ₹ 500</h6>
                        </div>
                        {% elif "grand_total">=900 %}
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium"> 
                                <i class="fa fa-gift"></i>
                                COUPON02 for ₹ 100</h6>
                        </div>
                        {% else %}
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium"> 
                                <i class="fa fa-gift"></i>
                                Purchase above ₹ 900 for special offers</h6>
                        </div>
                        {% endif %} {% endcomment %}
                    </div>
                </div>
            </div>


            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">₹ {{ total }}</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Tax</h6>
                        <h6 class="font-weight-medium">₹ {{tax}}</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Discount</h6>
                        <h6 class="font-weight-medium">₹ {{coupon}}</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">₹ {{ grand_total }}</h5>
                    </div>
                    <a href="{% url 'checkout' %}" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
                    <a href="{% url 'store' %}" class="btn btn-block btn-primary my-3 py-3">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
{% endif %}














{% endblock %}




